@font-face {
  font-family: 'moc';
  src: url(../fonts/Mountains_of_Christmas/MountainsofChristmas-Regular.ttf);
}

body {
  background: rgb(215, 11, 21);
  background-size: cover;
  background-position: bottom;
  padding-top: 2rem;
}

a,
.btn {
  color: #255C86 !important;
}

a img {
  border: solid 1px #123D62;
}

.main {
  font-size: 2rem;
  color: #000;
}

.main .row {
  width: 100%;
  --bs-gutter-x: 0.2rem !important;
  margin-bottom: var(--bs-gutter-x);
}

.landscape-recommendation {
  display: none;
  font-size: 0.75rem;
}

@media (max-width: 480px) {
  .landscape-recommendation {
    display: block;
  }
}

.activity-btn {
  background-position: center;
  background-size: cover;
  padding: 0;
}

.letter-wrapper {}

.letter-details {
  display: none;
  font-size: 0.75rem;
  background: rgba(255, 255, 255, 0.7);
}

.letter-details span {
  display: none;
  width: 100%;
}

.activity-btn {
  z-index: 2;
}

.activity-img {
  z-index: 1;
  border-radius: 4px;
}

.activity-btn:hover .letter-details {
  display: flex;
}

@media (min-width: 750px) {
  .activity-btn:hover .letter-details span:nth-of-type(2) {
    display: block;
  }
}

@media (min-width: 1080px) {
  .activity-btn:hover .letter-details span:nth-of-type(1) {
    display: block;
    font-weight: bold;
  }
}

#consent .btn {
  color: #fff !important;
}

/**
Shared modal styles
 */
.modal-header {
  border-bottom: 0;
}

.modal-header .btn-close {
  position: absolute;
  top: 18px;
  right: 18px;
}

.modal-title {
  color: #e40a2d;
  font-family: moc;
  font-size: 1.4rem;
}

@media (min-width: 420px) {
  .modal-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .modal-title {
    font-size: 2rem;
  }
}

.modal-header .btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

/**
Activity modal
 */
#activity-modal .modal-content {
  max-width: 600px;
}

#activity-modal .modal-body {
  padding: 0;
}

#activity-modal .ratio {
  min-height: 360px;
  max-width: 566px;
}

/**
Footer
 */
footer {
  margin-top: 2rem;
  font-size: 0.8rem;
}

footer .btn {
  font-size: 0.8rem !important;
  color: #fff !important;
}
